@charset "utf-8";

/*  */

:root {
  --bomdia: #24306ce2;
  --pablomarçal: #ffa600c9;
  --minecraft: #008000;
  --alanzoka: #951919;

  /* cor principal; cor segundaria; cor destaque;
     cor para texto (não pode ser branco ou preto) */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100vh;
  /* background-color: aqua; */
}

body {
  background-image: linear-gradient(to top, var(--bomdia), var(--alanzoka));
  background-repeat: repeat;
  background-attachment: fixed;

  color: #ffffff;
  font-family: 'Times New Roman', Times, serif;
}

header {
  /* px, % - Mobile First: vh, wv, em, rem */
  background-color: var(--bomdia);
  height: 10vh;
}

menu {
  background-color: var(--alanzoka);
  height: 7vh;
  color: #000000;
  text-align: center;
}

li{
    display: inline-block;
}

section {
  background-color: var(--pablomarçal);
  height: auto;
  /* height: 100vh; */
  margin: 0.3em;
  text-align: justify;
}

footer {
  background-color: var(--minecraft);
  height: 5vh;
  text-align: center;
  margin: auto;
  padding: 0.5em;
}

button{
  color: aqua;
  background-color: bisque;
  width: 100px;
  margin: 5px;
  padding: 2,5px;
}












